numpy
sklearn
matplotlib
notebook
jupyter_contrib_nbextensions
theano==0.9.0
tensorflow==1.15.0
keras==2.0.2
tensorboard
bidict
click
flake8
gensim
git-pre-commit-hook
h5py
nltk
pytest
pytest-cov
pyyaml
setuptools
xxhash
git+https://github.com/hyperopt/hyperopt.git
memory_profiler
psutil
line_profiler
pymongo
Pillow
marisa-trie
pycuda
Scrapy